body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header {
  height: 30px;
}

.logo {
  float: left;
  align-items: center;
  padding-top: 5px;
}

.logo__image {
  height: 20px;
}

footer {
  background-color: #686963;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .img__logo-footer {
  height: 22px;
}

body .main__container {
  background-color: #E56353;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main__container div {
  color: #fff;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
body .main__container div span {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
body .section__container-1 {
  background-color: #686963;
  color: #fff;
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}
body .section__container-1 .image-1 {
  height: 20px;
  padding: 20px 20px;
}
body .section__container-1 .container__text-customize {
  text-align: center;
  padding-top: 70px;
  color: white;
  font-size: 5px;
}
body .section__container-2 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}
body .section__container-2 .image-2 {
  height: 20px;
  padding: 20px 20px;
}
body .section__container-2 .container__text-customize {
  text-align: center;
  padding-top: 60px;
  color: #686963;
  font-size: 5px;
}
body .section__container-3 {
  background-color: #E97F72;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section__container-3 span {
  color: #fff;
  font-size: x-large;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body .section__container-4 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}
body .section__container-4 .image-3 {
  text-align: center;
}
body .section__container-4 .image-3 .image__imagen-3 {
  height: 100px;
  padding-top: 30px;
  padding-bottom: 1px;
}
body .section__container-4 span {
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body .section__container-4 .container__text-customize {
  text-align: center;
  padding-top: 4px;
  color: #686963;
  font-size: 4px;
}
body .section__container-5 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}
body .section__container-5 .image-4 {
  text-align: center;
}
body .section__container-5 .image-4 .image__imagen-4 {
  height: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
}
body .section__container-5 span {
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body .section__container-5 .container__text-customize {
  text-align: center;
  padding-top: 4px;
  color: #686963;
  font-size: 4px;
}
body .section__container-6 {
  background-color: #F0A9A1;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .section__container-6 .button__padding {
  padding-top: 10px;
}
body .section__container-6 span {
  color: #fff;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

button {
  border: 1px solid;
  border-radius: 28px;
  font-family: "Raleway", sans-serif;
  background: #fafafa;
  color: #91918D;
  font-size: 9px;
  font-weight: 700;
  padding: 3px 20px;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
